[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
ExecStart=/usr/bin/pkill -CONT vlc

[Install]
WantedBy=suspend.target
